.body{
  font-family: 'Source Sans Pro',sans-serif;
}

.MainContainer{
  padding:4% 10%;
  padding-bottom: 0;
  margin-top: 30px;
  box-sizing: border-box;
  width:100%;
  display: flex;
  align-items: center;
  }
  

.ProductData{
  width:50%;
}