.ProductPreview{
    width:100%;
    position: relative;
}
  
.ProductPreview>img{
    margin-left: 125px;
    width:50%;
    height:50%;
}

.TimeSection{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 48px;
    font-weight: 600;
    margin-top: -30px;
    margin-left: -10px;;
}

.HeartBeatSection{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.HeartBeatSection>i{
    color: red;
    animation: beat 1s infinite;
}

@keyframes beat {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.2,1.2);
    }
    100%{
        transform: scale(1,1);
    }
}

.HeartBeatSection>p{
    margin-top: 16px;
}
